<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    This function should take a date string in the format <b>dd/mm/yyyy</b> and convert it to the format <b>yyyy-mm-dd</b>. If the input is not in the correct format, the function should return an error message <b>"Error: Invalid date."</b>.  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}convert-date2.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> String <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> String <span translate="no">(str{% if is_js %}ing{% endif %})</span>. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>How it’s used:</strong>
    <ul>
        <li><i>in databases, while migrating data from one system to another with different date format requirements;</i></li>
        <li><i>in date picker UI components, where user input might be in a different format;</i></li>
        <li><i>in reporting tools to standardize date formats across different data sources.</i></li>  
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Preconditions:</strong>
    <ul>
        <li><i>the input should be a string: date ∈ string.</i></li>
    </ul>
</p>
